@import '../../../public/fontawesome/scss/font-awesome.scss'
@import '../../../public/global-variables.sass'

$mobile-break: 600px

.homepage
  font-family: 'MarkPro'
  background-color: #f0f2f3
  color: #ffffff
  position: relative

  div
    box-sizing: border-box
    
  img
    width: 100%
    
  .section-name
    font-family: 'MarkPro'
    font-size: 31px
    font-weight: bold
    line-height: 1
    text-align: center
    color: #38454f
  
  .image-container
    height: 100px

  .select-image
    height: 95px
    width: 65px
    display: block
    margin: auto

  .share-image
    height: 68px
    width: 85px
    display: block
    margin: auto

  .grow-image
    height: 83px
    width: 78px
    display: block
    margin: auto
    
  .default-margin
    margin: 0 auto
    max-width: 90%
    width: 960px
    
  .background
    background-image: url(/images/pp/background@2x.png)
    background-repeat: no-repeat
    background-position: center top
    background-size: cover
    position: absolute
    top: 0
    left: 0
    right: 0
    height: 750px
  @media screen and (max-width: $mobile-break)
    .background
      height: 550px
  
  @media screen and (max-width: $mobile-break)
    .small-background
      background-image: url(/images/pp/phonemock@2x.png)
      background-repeat: no-repeat
      background-position: left bottom
      background-size: 50%
      position: absolute
      top: 0
      left: 0
      right: 0
      height: 550px
  .content
    margin: 0 auto
    padding: 50px 0
    text-align: center
    position: relative
    .logo
      max-width: 90%
      width: 300px
      
    .tagline
      font-size: 30px
      font-weight: bold
      line-height: 1
      object-fit: contain
      margin: 40px 0 20px
      
    .description
      font-size: 16px
      font-weight: 300
      line-height: 1
      margin: 20px 0 40px
      input
        max-width: 70%
        width: 300px
      button
        max-width: 30%
    
    .play-video
      margin: 20px 0
      img
        opacity: 0
        width: 50px
        max-width: 90%
      .play-link      
  @media screen and (max-width: $mobile-break)
    .header-content
      .app-store-links,.description
        margin-left: auto
        margin-right: 0
        max-width: 45%
      .app-store-links
        a
          img
            max-height: initial
      .tagline
        margin: 20px 0 40px
        
      .play-video.play-video, .get-link
        display: none !important
        
  @media screen and (max-width: $mobile-break)
    .usage.usage
      background-image: none
  .usage
    color: $charcoal
    background-image: url(/images/pp/phonemock@2x.png)
    background-position: bottom left
    background-repeat: no-repeat
    background-size: 45%
    display: flex
    justify-content: flex-end
    
    @media screen and (max-width: $mobile-break)
      .usage-content.usage-content
        max-width: 100%
    .usage-content
      max-width: 50%
      
      .section-heading
        font-size: 31px
        font-weight: bold

      ul
        text-align: left
        padding-left: 0
        list-style-type: none
        width: 85%
        margin: 0 auto
        li
          min-height: 25px
          margin: 0 0 20px
          padding-left: 40px
          background-repeat: no-repeat
          background-position: left top
          background-size: 30px
          background-image: url(/images/pp/bullet.svg)
        
        font-size: 16px
        font-weight: 300
    .cta
      margin: 50px 0 30px
      .cta-heading
        font-size: 16px
        font-weight: bold
        margin: 5px 0
      .cta-subheading
        font-size: 16px
        font-weight: 300
      .get-link
        margin: 20px 0
  .faq
    background-color: #0C6196
    padding: 55px 0
    a
      color: #ededed
      font-weight: 600
    .section-heading
      font-size: 24px
      font-weight: bold
      cursor: pointer
      &::after
        content: $fa-var-chevron-down
        font-family: FontAwesome
        margin-left: 15px
        display: inline-block
        transition: 200ms linear all
        margin-top: 10px
    &.expanded
      .section-heading::after
        transform: rotate(-180deg)
      .questions-and-answers
        display: block
    .questions-and-answers
      display: none
      margin: 20px 0 0
      text-align: left
      .section
        margin: 20px
      .section-title
        font-size: 24px
        font-weight: 600
        text-decoration: underline
      .q-and-a-block
        display: flex
        flex-wrap: wrap
        justify-content: space-between
      .q-and-a
        margin: 15px 0
        width: 48%
        display: inline-block
        padding: 0
        .question
          font-size: 16px
          font-weight: 700
          margin-bottom: 7px
        .answer
          line-height: 1.42857143
    
  .how-it-works
    color: $charcoal
    position: relative
    margin: 40px auto
    text-align: center
    max-width: 90%
    width: 940px
    border-radius: 6px
    background-color: #fafafa
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.3)
    padding: 36px 0
    
    .steps
      display: flex
      flex-wrap: wrap
      justify-content: space-around
      padding-top: 20px
      .step
        width: 250px
        padding: 0 20px
        max-width: 100%
        text-align: center
        display: inline-block
        .name
          text-transform: uppercase
          margin: 10px
          font-weight: bold
          letter-spacing: 3.5px
          font-size: 16px
        .description
          font-size: 14px
        img
          max-height: 150px
