@import '../../../public/fontawesome/scss/font-awesome.scss'
@import '../../../public/global-variables.sass'

$mobile-break: 600px

.access-denied-container
  font-family: 'MarkPro'
  font-size: 36px
  color: #ffffff
  position: relative
  width: 100%;
  background-image: url('/images/dashboard/background.png')
  background-size: cover
  padding: 20px 15%
  min-height: 100vh
  flex: 1
  display: flex
  align-items: center
  justify-content: center
  text-transform: uppercase

