.history-container{
  margin-top: -10px;
  margin-bottom: 20px;
  max-height: 400px;
  overflow-y: scroll;

  .history-container-item{
    background-color: white;
    text-align: left;
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 6px;
    position: relative;
    vertical-align: top;

    display: flex;
    flex: 1 1;
    flex-direction: 'row';
    align-items: center;
    justify-content: space-between;

    img{
      max-height: 30px;
    }

    .location{
    }
    .date{
    }
  }
}

