<html>
  <head>
    <title>Vistaprint My Card</title>

    <!-- Open graph meta tags -->
    <meta property='fb:app_id' content='1783015601724931' />
    <meta property='og:title' content='Vistaprint My Card' />
    <meta property='og:image' content='{{user.default_card.front_img}}' />
    <meta property='og:url' content='https://mycard.vistaprint.com/u/{{user.userid}}' />
    <meta property='og:description' content="{{user.first_name}} sent you their business card" />
    

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
    <script src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PSSVTBC');</script>
    <!-- End Google Tag Manager -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

<style>
  @media (min-device-width: 800px) {
    .bc-container img{
      max-width: 300px !important;
    }
    .shadow{
      max-width: 250px !important;
      bottom: 90px !important;
    }
  }

  @media (min-device-width: 600px) and (max-device-width: 800px) and (orientation: portrait) { 
    .bc-container{
      height: 500px !important;
    }
  }

  body{
    max-height: 100%;
  }
  .bc-header{
    position: relative;
    background-color: #006098;
    height: 66px;
  }

  .bc-header img{
    height: 70%;
    display: block;
    margin: 0 auto;
    padding-top: 15px;
  }

  .bc-container{
    background-image: url(/images/woodbkg.jpg);
    background-size: cover;
  }

  .bc-container img{
    max-width: 90%;
    max-height: 350px;
    display: block;
    margin: 0 auto;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  @media screen and (orientation: landscape) {
    .bc-container img{
      max-width: 60%;
      max-height: 150%;
    }
  }

  .bc-container {
    padding-top: 22px;
  }

  .card {
    margin-top: 22px;
    padding-bottom: 22px;
  }

  .back {
    height: initial !important;
  }

  .img-block img{
    display: block;
    margin: 0 auto;
  }

  .mobile-btn{
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.5px;
    text-align: center;
    color: #1ea7e2;
  }

  .mobile-btn .col-xs-4{
    border: solid 1px #d4dde1;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    padding-bottom: 17px;
  }

  .have-a-card-container{
    position: relative;
  }

  .have-a-card{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 22px;
    font-size: 14px;
    letter-spacing: -0.6px;
    text-align: center;
    color: #38454f;
    color: var(--charcoal-grey);
    background-color: #f8f8f8;
    box-shadow: 0 -1px 0 0 #d4dde1;
  }
  .have-a-card img{
    padding-bottom: 18px;
  }

  .have-a-card a{
    color: #1e95db;
    font-weight: #1e95db;
    text-decoration: none;
  }
  .have-a-card a:visited{
    color: #1e95db;
    font-weight: #1e95db;
    text-decoration: none;
  }
  .have-a-card a:active{
    color: #1e95db;
    font-weight: 600;
    text-decoration: none;
  }

  .no-margin{
    padding: 0 !important;
  }

  .shadow{
    position: absolute;
    bottom: 65px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 137px;
    opacity: 0.51;
    -webkit-filter: blur(12.5px);
    filter: blur(12.5px);
    background-color: #000000;
  }

  .dot-container{
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
  }

  .dot-active{
    display: inline-block;
    width: 7.5px;
    height: 7.5px;
    background-color: #38454f;
    border-radius: 300px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .dot-inactive{
    display: inline-block;
    width: 7.5px;
    height: 7.5px;
    opacity: 0.5;
    background-color: #38454f;
    border-radius: 300px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .card-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
  }

  .product-name {
    display: block;
  }

</style>
<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PSSVTBC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class='container-fluid'>
  <div class='row'>
    <div class='col-xs-12 bc-header'>
      <img src='/images/mycard-logo.svg' />
    </div>
  </div>

  <div class='row'>
    <div class='col-xs-12 no-margin'>
      <div class='bc-container'>
        <div id='card'>

          <div class='front'>
            <img src='{{user.default_card.front_img}}' draggable=false />

            <div class='dot-container'>
              <div class='dot-active'></div>
              <div class='dot-inactive'></div>
            </div>
          </div>
          <div class='back'>
            <img src='{{user.default_card.back_img}}' draggable=false />

            <div class='dot-container'>
              <div class='dot-inactive'></div>
              <div class='dot-active'></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class='row text-center img-block mobile-btn'>
    <div class='col-xs-6 img-block card-action'>
      <a href='/u/{{user.userid}}/{{sendnum}}.vcf' target="_blank" onClick={__trackClick('{{user.userid}}')}>
        <div>
          <img src='/images/plus-icon.svg' />
          Add as Contact
        </div>
      </a>
    </div>
    <div class='col-xs-6 img-block card-action'>
      <a href='mailto:?subject=Forwarding you a contact&body=Here%20is%20a%20contact%20I%20thought%20you%20would%20be%20interested%20in:%20{{user.shorturl}}'>
        <img src='/images/share.svg' />
        Forward
      </a>
    </div>

    <!--<a href='tel:'>-->
      <!--<div class='col-xs-4 img-block'>-->
        <!--<img src='/images/phone.svg' />-->
        <!--Phone call-->
      <!--</div>-->
    <!--</a>-->
  </div>
</div>

<script type='text/javascript'>
  $(document).ready(function(){
    $("#card").flip(function(){

      $("#card").on("click", function(){  // flip:change wasn't working
      });

      $("#card").on("flip:done", function(){
      });
    });


    $(".have-a-card-container").css("height", $("body").height()-$(".have-a-card-container")[0].offsetTop+'px');

    $("#card").on("swipe", swipeHandler);

    // Callback function references the event target and adds the 'swipe' class to it
    function swipeHandler( event ){
      $("#card").click();
      $("#card").tap();
    }

    // Push notification that card was seen
    $.ajaxSetup({
      contentType: "application/json"
    });

    setTimeout(function(){
      var viewed = localStorage.getItem('viewed');

      if( (typeof viewed === 'undefined' || viewed === null) && window.location.search.indexOf('nopush') < 0){
        $.ajax({
          type: 'POST',
          url: '/api/v1/push',
          data: JSON.stringify({
            userid: '{{user.userid}}',
            message: 'Your card was opened!',
            send_dt: new Date()
          })
        });

        localStorage.setItem('viewed', 'true');
      }
    }, 1000 * 10);
  });

  function __trackClick(contact) {
    ga('send', 'event', 'add-contact', 'click', contact);
  }

</script>

</body>
</html>



