#dashboard-wrapper {
  width: 100%;
  background-image: url('/images/dashboard/background.png');
  background-size: cover;
  padding: 20px 15%;

  h1{
    color: white;
  }
  h3{
    color: white;
    text-align: center;
  }

  .ui.icon.input{
    width: 90%;
    margin-left: 10%;
  }

  .user-row{
    cursor: pointer;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.58;
    letter-spacing: 0.3px;
    color: #5c666f;

    td{
      position: relative;
    }

    img{
      width: 160px;
    }

    .remove-user{
      position: absolute;
      right: 0;
      top: -5px;
      color: red;
      font-size: 18px;
      padding: 10px;

      &:hover{
        color: blue;
      }
    }

  }

  .support-box{
    border-radius: 6px;
    background-color: #fafafa;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
    padding: 30px 4px;
  }

  .support-link{
    cursor: pointer;
    padding-bottom: 10px;
  }

  .search-box{
    border-radius: 2px;
    float: right;
  }

  .activity-header{
    color: black;
  }
}


