.livemap-wrapper {
  .mapboxgl-marker{
    pointer-events: none;
  }

  .connection-status{
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #00FF00;

    &.error{
      color: red !important;
    }
  }

  .live-feed{
    position: absolute;
    bottom: 10px;
    text-align: right;
    width: 100%;
    max-height: 50%;
    border-radius: 6px;
    padding: 25px;
    color: #00FF00;
    opacity: 0.4;
		overflow-y: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    pointer-events: none;
  }
}

