.dashboardnav-container{
  z-index: 1;
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 8px;
  font-family: MarkPro;
  transition: all 250ms ease-in-out;
  cursor: pointer;

  &:hover{
    top: -1px;
  }

  .menuitem{
    background-color: white;
    padding: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
    user-select: none;

    &:hover{
      background-color: rgba(255, 255, 255, 0.9);
    }

    &.active{
      background-color: #a0d0dd;
    }
  }
}

