#dashboard-user-wrapper {
  width: 100%;
  background-image: url('/images/dashboard/background.png');
  background-size: cover;
  padding: 20px 20px;
  min-height: 100vh;

  h1{
    color: white;
  }
  h2{
    font-size: 16px;
    color: white;
    text-align: center;
  }
  h3{
    color: white;
    text-align: center;
  }

  iframe{
    border: 0;
    border-radius: 6px;
  }

  .white-container{
    background-color: white;
    text-align: left;
    padding: 20px 10px;
    border-radius: 6px;
    position: relative;
    margin-bottom: 20px;

    h4{
      text-align: center;
    }
  }

  .go-back{
    position: absolute;
    left: 10px;
    top: 5px;
    cursor: pointer;

    i{
      color: white;
      font-size: 20px;

      &:hover{
        text-decoration: underline;
      }
    }
  }

  .badges-container{
    position: absolute;
    top: 5px;
    right: 5px;

    .badge{
      display: inline-block;
      margin-right: 5px;

      img{
        max-width: 25px;
      }
      
      &.available{
        img{
          filter: grayscale(100%);
        }
      }
    }
  }

  .unordered-card{
    position: relative;

    .card-veil:after{
      content: '';
      position: absolute;
      left: 30px; right: 30px; top: 0; bottom: 20px;
      background-image: url('/images/cardlock.png');
      background-size: contain;
    }
  }

  .bizcard{
    position: relative;

    .combined_images{
      position: absolute;
      right: 0;
      top: 0;
      vertical-align: middle;

      img{
        display: inline-block;
        max-width: 30px;
      }
    }
  }

  .user-platform{
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.1;
  }

  .referral-container{
    .referral-row{
      margin-bottom: 10px;
      border: 1px solid black;
      padding: 5px;
      border-radius: 6px;

      .title{
        color: #1ea7e2;
        font-weight: 600;
        font-size: 16px;
        margin: 10px 5px;
      }

      &.pending{
        background-color: #eeeeee;
      }
      &.joined{
        .title{
          color: black;
        }
        background-color: lightgreen;
      }
    }
  }
}

