.app {
  background-color: green;
  height: 50px;
  border: 1px solid blue;
}

.bap {
  background-color: red;
  height: 25px;
}

.cluster-group{
  position: absolute;
  cursor: pointer;
  border: 1px solid #004336;
  border-radius: 50%;
  text-align: center;

  text-align: center;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 72, 114, 0.71);
  box-shadow: 0 3px 28px 0 rgba(30, 167, 226, 0.37);
  border-radius: 180px;

  div{
    color: white !important;
    font-size: 26px !important;
  }

  img{
    display: none !important;
  }
}
