.user-map-wrapper{
  .large-map{
    position: fixed;
    left: 10%;
    top: 5%;
    min-width: 80%;
    max-width: 80%;
    min-height: 80%;
    z-index: 4;
  }


  .maximize-icon{
    position: absolute;
    right: 20px;
    top: 40px;
    z-index: 3;
    cursor: pointer;
  }


  .map-user{
    position: absolute;
    z-index: 5;
    opacity: 1;
    border: 1;
    cursor: pointer;

    img{
      max-width: 40%;
    }
  }

}
