.veil{
  background-color: black;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.67;
  z-index: 2;
}

.video-modal-container{
  width: 80%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 3;
  padding-top: 40px;

  .video-modal {
    background-color: #fafafa;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.3);
    padding: 40px 20px;
    border-radius: 6px;
    position: relative;
    color: #000000;
  }

  video{
    display: block;
    margin: 0 auto;
    max-width: 95%;
  }

  .close{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 26px;
    z-index: 4;

    &:hover{
      cursor: pointer;
      color: blue;
    }
  }
}

