$mobile-break: 900px

.order-confirmation
  background-color: #006098
  background-image: url(/images/order-conf/background@2x.png)
  background-repeat: no-repeat
  background-size: cover

  font-family: MarkPro, Lato

  min-height: 263px

  position: relative

  display: flex
  justify-content: flex-end

  padding: 10px 15px

  color: #ffffff

  @media screen and (max-width: $mobile-break)
    justify-content: center

  @font-face
    font-family: MarkPro
    src: url("/fonts/MARKPRO-BOLD.OTF") format("otf")
    font-weight: bold
  @font-face
    font-family: MarkPro
    src: url("/fonts/MARKPRO-LIGHT.OTF") format("otf")

  .floating-links
    @media screen and (max-width: $mobile-break)
      display: none
    
    .app-store-links
      position: absolute
      left: 130px
      bottom: 10px
      margin: 0
    
  .mockup
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

    z-index: 0
    
    background-image: url(/images/order-conf/i-phone-6-mockup-copy@2x.png)
    background-size: contain
    background-position: bottom left
    background-repeat: no-repeat

    @media screen and (max-width: $mobile-break)
      background: none
      display: none

    .bc-preview-frame
      position: absolute
      left: 117px
      top: 61px
      height: 127px
      width: 190px

      transform: rotateZ(-13.5deg)
      overflow: hidden
      
      img
        position: absolute
        bottom: 0
        left: 0
        right: 0
        width: 100%

  .content
    z-index: 1

    width: 70%

    text-align: center

    @media screen and (max-width: $mobile-break)
      width: 90%

    .headline
      font-size: 22px
      font-weight: 600
      margin: 10px 0
      @media screen and (max-width: $mobile-break)
        line-height: 1.2

    .subheadline
      font-size: 17.6px

    h4
      margin-bottom: 5px

    .intro
      text-transform: uppercase
      font-size: 12.6px
      font-weight: 300
      line-height: 1.14
      letter-spacing: 4.7px
      margin-top: 35px

      @media screen and (max-width: $mobile-break)
        display: none

    .logo
      margin-bottom: 15px  
      max-width: 80%
      max-height: 50px
    
      @media screen and (max-width: $mobile-break)
        margin-bottom: 0
        margin-top: 5px

    .tagline
      font-size: 16px
      font-weight: 100
      line-height: 1

    .free-callout
      font-weight: 500
      letter-spacing: .5px

    .learn-more
      color: #ffffff
      text-decoration: none
      font-weight: 600
      font-size: 16px
      padding: 5px
      display: inline-block
      
      &:hover
        color: #cdcdcd

    .app-store-links
      max-width: 250px
      margin: 10px auto
      flex-wrap: nowrap
      justify-content: center

      @media screen and (max-width: $mobile-break)
        margin: auto

      a
        cursor: default
        min-width: auto
        flex-grow: 0
        flex-shrink: 0

        img
          height: 40px

    .hide-sms
      display: none
    
    .get-link
      height: 40px
      margin: 10px auto

      @media screen and (max-width: $mobile-break)
        display: none

    .mobile-links
      display: none
      @media screen and (max-width: $mobile-break)
        display: block