$mobile-break: 900px

.congratulation-share

	flex: 1
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	width: 100%
	min-height: 100%
	padding-top: 30px
	background-color: transparent

	.headline
		padding-top: 30px
		margin: 10px 0
		font-size: 22px
		font-weight: 600
	
	.logo
		width: 38px
		height: 38px
		margin-top: 0px
		margin-bottom: 0px

	.content
		z-index: 1
		margin-top: 15px
		padding-left: 60px
		padding-right: 60px
		font-size: 15
		font-weight: 400