#dashboard-wrapper {
  width: 100%;
  background-color: #072746;
  min-height: 100vh;

  h1{
    color: white;
  }
  h2{
    font-size: 16px;
    color: white;
    text-align: center;
  }
  h3{
    color: white;
    text-align: center;
  }
}

