.app-store-links
  margin: 40px auto
  max-width: 50%
  display: flex
  flex-wrap: wrap
  justify-content: center

  a
    padding: 5px
    flex-grow: 1
    flex-shrink: 1
    height: 100%
    display: inline-block
    max-width: 110px

    img
      max-width: 100%
      cursor: pointer
      max-height: 30px
      width: auto
