@import '../../../public/global-variables.sass'
@import '../../../public/fontawesome/scss/font-awesome.scss'

.get-link
  height: 50px
  display: flex
  justify-content: center
  max-width: 450px
  margin: 0 auto

  input,button
    vertical-align: middle
    height: 100%
    margin: 0
    border: 0
    padding: 0 10px
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)
    font-size: 14px
  input
    flex-grow: 1
    border-radius: 4px 0 0 4px
    padding: 0 20px
    color: $charcoal
    &::placeholder
      font-style: italic
      text-align: center
  button
    border-radius: 0 4px 4px 0
    color: #ffffff
    background-color: #2ba8e0
    font-weight: 600
    cursor: pointer
    position: relative
    padding: 0 30px

    &:after
      font-family: FontAwesome
      content: '\f00c'
      position: absolute
      right: 0
      top: 50%
      transform: translateY(-50%)
      margin-right: 10px
      color: green
      transition: 200ms opacity
      opacity: 0

    &.sent::after
      opacity: 1

.sent-link
  height: 50px
  display: flex
  justify-content: center
  width: 510px
  background-color: white;
  margin: 0 auto
  border-radius: 4px 4px 4px 4px
  padding: 15px 20px
  color: $charcoal

  .check
    height: 22px
    width: 22px
  
  .sent-text
    padding-top: 2px
    padding-left: 10px
    font-family: Helvetica
    font-size: 14px
    font-style: oblique
    text-align: center
    color: #b5babf