
.smallstat-container{
  border-radius: 6px;
  background-color: #fafafa;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  padding: 30px 4px;

  .image{
    margin-bottom: 36px;
    min-height: 68px;

    img{
      display: block;
      margin: 0 auto;
    }
  }

  .title{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    font-family: Open Sans !important;
    color: #2b353e !important;
    margin-bottom: 10px;
  }
  .value{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2.4px;
    text-align: center;
    font-family: Open Sans !important;
    color: #2ba8df !important;;
  }
}

.smallchart-container{
    padding: 30px 30px 30px 0px;
}
