#dashboard-user-wrapper {
  width: 100%;
  background-image: url('/images/dashboard/background.png');
  background-size: cover;
  padding: 20px 20px;
  min-height: 100vh;

  h1{
    color: white;
  }
  h2{
    font-size: 16px;
    color: white;
    text-align: center;
  }
  h3{
    color: white;
    text-align: center;
  }

  iframe{
    border: 0;
    border-radius: 6px;
  }

  .white-container{
    background-color: white;
    text-align: left;
    padding: 20px 10px;
    border-radius: 6px;
    position: relative;
    margin-bottom: 20px;
  }

  .go-back{
    position: absolute;
    left: 10px;
    top: 5px;
    cursor: pointer;

    i{
      color: white;
      font-size: 20px;

      &:hover{
        text-decoration: underline;
      }
    }
  }

  .elapsed-time{
    &.low{
      color: green;
    }
    &.medium{
      color: blue;
    }
    &.high{
      color: red;
      font-weight: 600;
    }
  }
}

